<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPProjects</display-name>
  <welcome-file-list>
    <welcome-file>/assign4/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>timeex.TimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>loginex.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>loginex.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EBillController</servlet-name>
    <servlet-class>com.cg.cbill.dto.EBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EBillController</servlet-name>
    <url-pattern>/JSPProjects/EBillController</url-pattern>
  </servlet-mapping>
  
  <error-page> 
<error-code>404</error-code> 
<location>/JSPProjects/assign4/Error.jsp</location> 
</error-page> 

<error-page> 
<exception-type>java.sql.SQLException</exception-type> 
<location>/JSPProjects/assign4/Error.jsp</location> 
</error-page> 

  <error-page>
   <exception-type>java.lang.Throwable</exception-type>
   <location>/JSPProjects/assign4/Error.jsp</location>
   </error-page>
</web-app>